/Chapter_01/sia.knights/.settings
/Chapter_01/sia.knights/*.classpath
/Chapter_01/sia.knights/*.project
/Chapter_02/soundSystem/target
/Chapter_02/soundSystem/.settings
/Chapter_02/soundSystem/*.classpath
/Chapter_02/soundSystem/*.project
